body, html {
  margin: 0;
  padding: 0;
  font-family: 'Rock Salt', cursive; 
}

h1 {
  font-size: 2rem;
  line-height: 2.5rem;
  margin: 100px 0 30px 0;
}

h3 {
  margin-bottom: 50px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

.title, .sub-title, .btn, .results {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button {
  position: relative;

  background: #ecd300;
  background: -webkit-radial-gradient( hsl(54, 100%, 50%), hsl(54, 100%, 40%) );
  background: -o-radial-gradient( hsl(54, 100%, 50%), hsl(54, 100%, 40%) );
  background: -moz-radial-gradient( hsl(54, 100%, 50%), hsl(54, 100%, 40%) );
  background: radial-gradient( hsl(54, 100%, 50%), hsl(54, 100%, 40%) );

  font-size: 1rem;
  text-shadow: 0 -1px 0 #c3af07;
  color: rgb(44, 44, 44);
  border: solid 1px hsl(54, 100%, 20%);
  border-radius: 100%;
  height: 120px;
  width: 120px;
  z-index: 4;

  outline: none;

  box-shadow:   inset 0 1px 0 hsl(54, 100%, 50%),
                0 2px 0 hsl(54, 100%, 20%),
                0 3px 0 hsl(54, 100%, 18%),
                0 4px 0 hsl(54, 100%, 16%),
                0 5px 0 hsl(54, 100%, 14%),
                0 7px 0 hsl(54, 100%, 12%),
                0 8px 0 hsl(54, 100%, 10%),
                0 9px 0 hsl(54, 100%, 8%),
                0 10px 0 hsl(54, 100%, 6%);
}

  button:hover {
    background: -webkit-radial-gradient( hsl(54, 100%, 45%), hsl(54, 100%, 35%) );
    background: -o-radial-gradient( hsl(54, 100%, 45%), hsl(54, 100%, 35%) );
    background: -moz-radial-gradient( hsl(54, 100%, 45%), hsl(54, 100%, 35%) );
    background: radial-gradient( hsl(54, 100%, 45%), hsl(54, 100%, 35%) );
  }

  button:active {
    background: -webkit-radial-gradient( hsl(54, 100%, 43%), hsl(54, 100%, 33%) );
    background: -o-radial-gradient( hsl(54, 100%, 43%), hsl(54, 100%, 33%) );
    background: -moz-radial-gradient( hsl(54, 100%, 43%), hsl(54, 100%, 33%) );
    background: radial-gradient( hsl(54, 100%, 43%), hsl(54, 100%, 33%) );

    top: 2px;

    box-shadow:   inset 0 1px 0 hsl(54, 100%, 50%),
                  0 2px 0 hsl(54, 100%, 20%),
                  0 3px 0 hsl(54, 100%, 18%),
                  0 4px 0 hsl(54, 100%, 16%),
                  0 5px 0 hsl(54, 100%, 14%),
                  0 7px 0 hsl(54, 100%, 12%),
                  0 8px 0 hsl(54, 100%, 10%);
  }

